body{
    margin: 0px;
    padding: 0px;
    font-family: 'nunito';
}

.background1 img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    filter: blur(5px);
}

.background1 .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 85%;
    z-index: -1;
}

.logo{
    width: 200px;
    height: auto;
    margin: 15px 0px 0px 80px;
}

.header ul{
    float: right;
    margin-right: 80px;
}

.header ul li{
    display: inline-block;
    margin: 10px 0px 0px 40px;
}

.header ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.header ul li a:hover{
    text-decoration: underline;
}

.menuhidden{
    position: absolute;
    top: 30px;
    right: 40px;
    visibility: hidden;
}

.menuhidden img{
    width: 25px;
    height: auto;
}

.container{
    margin: auto;
    width: 750px;
}

.text{
    width: 500px;
    float: left; 
    margin-top: 35px;  
}

.text h1{
    color:white;
    font-size: 52px;
    font-weight: bold;
    font-family:'nunito';
}

.text h2{
    color: white;
    font-size: 28px;
    font-weight: normal;
    font-family: 'nunito';
}

.text h3{
    color: white;
    background-color: rgb(255, 81, 0);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}

.text h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
.iphone{
    float: right;
    width: 225px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    margin-top: 35px;
}




.keunggulan1{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
}

.keunggulan1 .background2{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 81, 0);
    position: absolute;
    z-index: -2;
}

.alasan{
    width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 10vh;
}

.alasan h1{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 100px;
    margin-top: 20px;
}

.alasan1{
    width: 1300px;
    margin: auto;
}

.alasan2 img{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

.alasan2 h2{
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 50px 0px;
}

.alasan2{
    display: inline-block;
    margin: 0px 20px;
    width: 30%;
}













@media only screen and (max-width: 1300px) {
    .alasan h1{
        font-size: 32px;
    }
    .alasan1{
        width: 1000px;
    }
    .alasan2{
        width: 300px;
        margin: 0px 15px;
    }
    .alasan2 h2{
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 1000px){
    .header ul li{
        margin: 10px 0px 0px 30px; 
    }
    .header ul li a{
        font-size: 14px;  
    }
    .alasan h1{
        font-size: 28px;
    }
    .alasan1{
        width: 750px;
    }
    .alasan2{
        width: 200px;
        margin: 0px 20px;
    }
    .container{
        width: 600px;
    }
    .text{
        width: 350px;
        margin-top: 25px;
    }
    .text h1{
        font-size: 42px;
    }
    .text h2{
        font-size: 24px;
    }
    .text h3{
        font-size: 20px;
    }
    .iphone{
        width: 200px;
        height: 400px;
    }
  }

  @media only screen and (max-width: 768px){
    .header ul li{
        visibility: hidden;
    }
    .background1 img{
        width: 100%;
        height: 1100px;
    }
    .background1 .overlay{
        width: 100%;
        height: 1100px;
    }
    .logo{
        margin-left: 40px;
        width: 150px;
    }
    .menuhidden{
        visibility: visible;
    }
    .container{
        width: 400px;
    }
    .text{
        width: 350px;
        float: none;
        margin: auto;
        margin-top: 20px;
    }
    .text h1{
        font-size: 45px;
        text-align: center;
    }
    .text h2{
        font-size: 24px;
        text-align: center;
    }
    .text h3{
        font-size: 20px;
        margin: auto;
        margin-top: 50px;
    }
    .iphone{
        width: 225px;
        height: 450px;
        margin: auto;
        display: block;
        float: none;
        margin-top: 100px;
    }
    .keunggulan1 {
        top: 1100px;
    }
    .keunggulan1 .background2{
        height: 1800px;
    }
    .alasan{
        top: 50px;
    }
    .alasan h1{
        font-size: 32px;
        margin-bottom: 0px;
    }
    .alasan1{
        width: 300px;
        margin-top: 0px;
    }

    .alasan2{
        display: block;
        margin: auto;
        width: 300px;
    }
    .alasan img{
        width: 250px;
        margin-top: 100px;
    }
    .alasan2 h2{
        font-size: 24px;
        margin-bottom: 100px;
    }
    
    

  }















